# Copy this file to .env and replace the placeholder values with your API keys
# and other settings.

OPENAI_API_KEY=
GOOGLE_AI_API_KEY=
ANTHROPIC_API_KEY=
MISTRAL_API_KEY=
PERPLEXITY_API_KEY=
OLLAMA_API_KEY=
# URL for your Ollama server. Default matches the local installation.
OLLAMA_API_URL=http://127.0.0.1:11434
